* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}
hr {
	border: none;
	background-color: #dbdbdb;
	height: 1px;
}
img {
	max-width: 100%;
	height: auto;
	position: relative;
}
